<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Billing</title>
<link rel="shortcut icon" href="https://danielx285.github.io/bilhetagem-lsd-style/icone_lsd.ico" />
<link href="https://danielx285.github.io/bilhetagem-lsd-style/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <header class="nav">
        <img src="https://danielx285.github.io/bilhetagem-lsd-style/lsd.svg"  class="nav" />
        
    </header>
$body$

</body>

</html>