<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Billing</title>
<link rel="shortcut icon" href="https://danielx285.github.io/bilhetagem-lsd-style/icone_lsd.ico" />
<link href="https://danielx285.github.io/bilhetagem-lsd-style/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <header class="nav">
        <img src="https://danielx285.github.io/bilhetagem-lsd-style/lsd.svg"  class="nav" />
    </header>

    <div class="project">
        <h1>Relatório utilização Cloud LSD - {{date}}</h1>
    </div>

    {% for sponsor in data | sort() -%}
    <div class="page-header">
        <h1>{{sponsor}}</h1>        
    </div>

    <table>
        <tr><th> Projeto </th> <th> Uso de Memoria </th> <th> Uso de processamento</th> </tr>
        {% for project in data[sponsor].values() | sort(attribute="Domain,Name") -%}
        <tr><td>{{project["Domain"]}}/{{project["Name"]}} </td> <td style="text-align:right">{{project["Total_Mem_Usage"]}} GB * h</td> <td style="text-align:right">{{project["Total_vcpu_Usage"]}} vCPU * h</td> </tr>
        {% endfor %}
        <tr><td> Total</td> <td style="text-align:right">{{ data[sponsor].values() | sum(attribute="Total_Mem_Usage")}} GB * h</td> <td style="text-align:right">{{data[sponsor].values() | sum(attribute="Total_vcpu_Usage")}} vCPU * h</td> </tr>
    </table>
    {% endfor %}
    
</body>

</html>